@import "@styles/variables.module.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    z-index: 500;
    padding: $defaultPadding;
    letter-spacing: $letterSpacing;
    background: linear-gradient(white , transparent);
    @include screenSize(tablet){
        background-color: white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moobile_menu {
    @include screenSize(tablet){
        display: none;
    }
}
.menu_icon {
    height: 32px;
    width: 32px;
}

.image {
    border-radius: 12px;
}

.desktop_menu {
    display: none;
    font-weight: 600;
    @include screenSize(tablet){
        display: flex;
        align-items: center;
        div {
            font-family: sans-serif;
            font-size: 0.8rem;
            font-size: 0.9rem;
            margin: 0 0.8rem;
        }
    }
    @include screenSize(desctop){
        display: flex;
        align-items: center;
        div {
            font-family: sans-serif;
            font-size: 1rem;
            margin: 0 1.3rem;
        }
    }

}

.dammy_container {
    display: none;
    @include screenSize(tablet){
        display: block;
        visibility: hidden;
    }

}