@import "@styles/variables.module.scss";

.root {
    position: relative;
    width: 100dvw;
    height: 100%;
}

.image_container {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100dvw;
    overflow: hidden;
    position: relative;
    @include screenSize(tablet){
        height: 550px;
    }
    @include screenSize(desctop){
        height: 100vh;
    }
}

.background_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    left: 1.3rem;
    bottom: 4rem;
    @include screenSize(tablet){
        left: 4rem;
        bottom: 5rem;
    }
    @include screenSize(desctop){
        left: 6rem;
        bottom: 6rem;
    }
}

.overlay_container {
    h3{
        font-family: sans-serif;
        letter-spacing: 2px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    p{
        padding-bottom: 2.2rem;
        font-size: 0.8rem;
        color: rgb(136, 136, 136);
    }
    div{
        padding: 0.8rem 1.9rem;
        border-radius: 100px;
        background-color: white;
        width: fit-content;
        border: 1px solid $primary-color;
        box-shadow: $boxShadow;
        span{
            color: $primary-color;
            letter-spacing: 1px;
            font-family: sans-serif;
        }
    }
    @include screenSize(tablet){
        h3{
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
        }
        div{
            padding: 12px 32px;
            span{
                font-size: 1.2rem;
            }
        }
    }
    @include screenSize(desctop){
        h3{
            font-size: 3.0rem;
        }
        p {
            font-size: 1.2rem;
        }
        div{
            padding: 16px 42px;
            span{
                font-size: 1.6rem;
            }
        }
    }
}


.section_about_us {
    padding: 3rem 2rem;
    @include screenSize(desctop) {
        padding: 4rem;
    }
}

.section_header{
    padding: 2rem 0;
    text-align: center;
    p {
        font-size: 1.5rem;
        font-weight: 600;
    }
    span{
        position: relative;
        display: block;
        font-size: 0.8rem;
        padding-top: 0.8rem;
        color: gray;
        &:after{
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            width: 220px;
            height: 2px;
            margin-top: 1rem;
            margin: auto;
            background-color: $primary-color;
        }
    }
    @include screenSize(desctop){
        p{
            font-size: 2rem;
        }
        span{
            font-size: 1rem;
        }
    }
}

.description_container {
    text-align: center;
    p{
        font-weight: 600;
        font-size: 1.2rem;
        max-width: 21rem;
        margin: auto;
        color: $primary-color
    }
    span {
        display: block;
        padding: 1rem 1rem;
        font-size: 0.8rem;
        max-width: 30rem;
        margin: auto;
    }
    @include screenSize(desctop){
        p{
            font-size: 2rem;
            max-width: 32rem;
        }
        span{
            font-size: 1.2rem;
            max-width: 40rem;
        }
    }
}

.about_content {
    padding: 2.5rem 0;
    margin: auto;
    max-width: 30rem;
    @include screenSize(tablet){
        max-width: 50rem;
    }
}

.about_container {
    border: 1px solid $primary-color;
    border-radius: 2rem;
    padding: 3rem 1.2rem;
    background-color: rgba(247, 255, 248, 0.8);
    p {
        font-size: 1.6rem;
        padding: 0.5rem 0;
        color: $primary-color;
    }
    span{
        display: block;
        opacity: 0.6;
        &:nth-child(1){
            font-size: 1.2rem;
        }
        &:nth-child(3){
            font-size: 0.8rem;
            padding-bottom: 1rem;
        }
    }
}
.about_wrapper {
    height: auto;
    width: 100%;
    @include screenSize(tablet){
        display: flex;

    }
}
.about_wrapper_2 {
    height: auto;
    width: 100%;
    @include screenSize(tablet){
        display: flex;
        flex-direction: row-reverse;
    }
}

.about_item {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.5rem 0;
    p {
        font-size: 0.8rem;
        color: black;
        padding: 0.5rem;
    }
    @include screenSize(tablet){
        p {
            font-size: 1rem;
            padding: 2rem;
        }
    }
}

.about_image {
    height: auto;
    max-height: 300px;
    width: 100%;
    border-radius: 10px;
    box-shadow: $boxShadow;
    padding: 0.5rem;
}

.approach_description {
     max-width: 30rem;
    margin: auto;
    span {
        display: block;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
    }
}

.section_approach {
    padding: 3rem 2rem;
    padding-bottom: 5rem;
    background-color: rgb(228, 255, 223);
    color: black;
    @include screenSize(desctop) {
        padding: 4rem;
    }
}

.approach_content {
    max-width: 30rem;
    margin: auto;
    position: relative;
    margin-top: 1rem;
    width: 100%;
    height: fit-content;
    border: 2px solid $primary-color;
    border-radius: 20px;
    background-color: white;
    @include screenSize(tablet){
        display: flex;
        max-width: 50rem;
        justify-content: space-between;
    }
}
.approach_item {
    max-width: 30rem;
    border: 2px solid $primary-color;
    border-bottom: 4px solid $primary-color;
    border-radius: 17px;
    padding: 2rem 1rem;
    text-align: center;
    p {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
    span {
        display: block;
        margin: 1rem 0;
        font-weight: 600;
    }
    @include screenSize(tablet){
        padding: 4rem;
    }
}
.approach_item_2 {
    border-radius: 17px;
    padding: 2rem 1rem;
    text-align: center;
    p {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
    span {
        display: block;
        margin: 1rem 0;
        font-weight: 600;
    }
    @include screenSize(tablet){
        padding: 4rem;
    }
}
.approach_item_3 {
    max-width: 30rem;
    margin: auto;
    background-color: white;
    border: 2px solid $primary-color;
    border-bottom: 4px solid $primary-color;
    border-radius: 17px;
    padding: 2rem 1rem;
    text-align: center;
    p {
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
    span {
        display: block;
        margin: 1rem 0;
        font-weight: 600;
    }
     @include screenSize(tablet){
        max-width: 50rem;
    }
}

.strong_text {
    padding: 0.2rem 1rem;
    border-radius: 30px;
    background-color: black;
    width: fit-content;
    margin: 0.5rem auto;
    p {
        font-size: 0.8rem;
        font-weight: 300;
        color: white;
    }
}

.text_list {
    text-align: center;
    list-style: decimal;
    width: fit-content;
    margin: auto;

    li {
        font-size: 0.85rem;
    }
}
.multi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
    background-color: white;
    @include center;
}

.approach_content_2 {
    .plus {
        text-align: center;
        padding: 1rem 0;
        font-size: 50px;
    }
    .approach_item {
        background-color: white;
    }
}

.icon_container {
    @include center;
    padding: 1.5rem 0;
    svg {
        height: 50px;
        width: 50px;
    }
}

.result_content {
    max-width: 30rem;
    margin: auto;
    position: relative;
    margin-top: 1rem;
    width: 100%;
    height: fit-content;
    border: 2px solid $primary-color;
    border-radius: 20px;
    background-color: white;
    @include screenSize(tablet){
        max-width: 50rem;
    }
}
.result_item {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.result_header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: 1px solid black;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background: linear-gradient(to right, purple ,yellow);
    color: white;
    span {
        font-size: 0.7rem;
    }
    div{
        margin: 0 0.5rem;
        height: 20px;
        width: 1px;
        background-color: black;
    }
    p{
        font-size: 1.4rem;
    }
}

.result_container.result_container {
    padding: 2rem;
    p {
        font-size: 1.1rem;
        font-weight: 600;
    }
    span {
        display: block;
        padding-top: 3rem;
        font-size: 1rem;
        color: $primary-color;
    }
}


.section_plan {
    padding: 3rem 2rem;
    background: linear-gradient(rgb(228, 255, 223), white);
    @include screenSize(desctop) {
        padding: 4rem;
    }
}

.plan_content {
    max-width: 30rem;
    margin: auto;
    padding: 3rem 2rem;
    border-radius: 20px;
    background-color:rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    max-width: 30rem;
    margin: auto;
    gap: 3rem;
    @include screenSize(desctop){
        padding-top: 2rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 50rem;
    }
}
.plan_menu {
    padding-bottom: 4rem;
}
.plan_header {
    text-align: center;
    p {
        font-size: 1.5rem;
        font-weight: 600;
    }
    span {
        display: block;
        font-size: 0.8rem;
        padding: 1.4rem 0;
    }
    img {
        height: 100%;
        width: 100%;
        background-color: white;
    }
}

.plan_container {
    padding: 2rem 0;
    p {
        font-size: 1rem;
        font-weight: 600;
    }
    span {
        display: block;
        padding-top: 1rem;
        font-size: 0.8rem;
    }
}

.plan_item {
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;
    background-color: white;
    border-radius: 10px;
    p {
        color:black;
        font-size: 0.8rem;
    }
}
